@page "/users/edit/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "SuperAdmin,Admin")]

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Modificar Usuario</h3>
        </div>
    </div>

    @if (!isLoaded)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>
    }
    else
    {
        <EditForm Model="@model" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Nombre de Usuario</label>
                    <InputText @bind-Value="model.UserData.Username" class="form-control" disabled />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <InputText type="email" @bind-Value="model.UserData.Email" class="form-control" />
                    <ValidationMessage For="@(() => model.UserData.Email)" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Nombre</label>
                    <InputText @bind-Value="model.UserData.FirstName" class="form-control" />
                    <ValidationMessage For="@(() => model.UserData.FirstName)" />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Apellido</label>
                    <InputText @bind-Value="model.UserData.LastName" class="form-control" />
                    <ValidationMessage For="@(() => model.UserData.LastName)" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Estado</label>
                    <div class="form-check">
                        <InputCheckbox @bind-Value="model.UserData.IsActive" class="form-check-input" />
                        <label class="form-check-label">Usuario Activo</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Roles</label>
                    @foreach (var roleSelection in model.RoleSelections)
                    {
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input"
                                   @bind="roleSelection.IsSelected" />
                            <label class="form-check-label">
                                @roleSelection.RoleName
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="/users" class="btn btn-secondary ms-2">Cancelar</a>
                </div>
            </div>
        </EditForm>
    }
</div>